.main-content.single-page.no-image .text-sheet {
    max-width: 100%;
    margin: auto;
    margin-top: 0;
    background: #fff;
    position: relative;
    padding: 0;
    padding-bottom: 0;
}
.media-menu ul li.active a {
    background: #1da68b;
    color: #fff;
    border-color: #1da68b;
}
div#map_container{
    margin: auto;
}
div.funding_step{
    display:  none;
}
.list-view .pager{
    clear: both;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
 
.tooltip-info b {
    font-family: "montserratsemi_bold",Helvetica,sans-serif;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.project-left.full{
    width: 100%;
}
.partners-list-holder{
    float: left;
    width: 100%;
}
.sidebar-news.with-image{
    clear:both;
}
#main_map_google{
   
}
#know_grow_map {
    height: 600px;
    width: 100%;
    margin-bottom: 15px;
}
.form-group input[type="tel"],.form-group input[type="email"]{
    border: #e2e8eb solid 2px;
    width: 100%;
    padding: 8px 15px;
    font-size: 0.9em;
}
.login-btns a{
    padding: 6px 30px !important;
}
.span-6{
    width: 50%;
    float: left;

}
li.show.hidden{
    display: inline-block !important;

}

#project_pie_cta {
    border: #717b7d solid 4px;
    padding: 5px 20px;
    color: #717b7d;
    text-transform: uppercase;
    font-family: "montserratsemi_bold", Helvetica, sans-serif;
}
#project_pie_cta:hover {
    background: #1da68b;
    color: #fff;
    border-color: #1da68b;
}
#focus_areas_piechart{
    width: 100%;
    height:600px;

}